* * * * * /bin/sh/home/pei/Documents/sisop/fp/fp-sisop-I01-2021/client/client.c
* * * * * /bin/sh/home/pei/Documents/sisop/fp/fp-sisop-I01-2021/database/database.c
* * * * * /bin/sh/home/pei/Documents/sisop/fp/fp-sisop-I01-2021/client/dumpClient.c
